@import '../utils/utils.less';

.page-footer {
	.navbar {
		margin-bottom: 0;
		
		.footer-nav-container {
			padding-top: 10px;
			text-align: center;

			.footer-menu {	
				margin: 0;
				padding: 0;
				list-style-type: none;	

				li {
					display: inline;

					&:after {
						content: " | ";
					}

					&:last-child:after {
					  content: '';
					}
					
					a {
						color: #60463f;
					}

					a:hover, a:focus{		
						color: #c0b0a6;
					}
				}
			}
		}

		.footer-sm-link-container {
			padding-top: 10px;
			text-align: center;
			font-size: 1.2em;
			
			a {
				color: #60463f;
			}

			a:hover, a:focus {
				color: #c0b0a6;
			}
		}	
	}		
}

