@import '../utils/utils.less';

.footer-menu {
	list-style-type: none;
    margin: 0;
    padding: 0;	
	
	li {
		display: inline;
		
		&::after {
			content: " | ";
		}
	}
}

/*<p dir="ltr" style="font-size: 28px; font-weight: bold;">3M™ Cavilon™ Brand Products</p>

<p dir="ltr"><span class="MMM--largeMessage-txt" dir="ltr">Ostomy and Skin Care</span></p>




<p dir="ltr" style="font-size: 28px; font-weight: bold;">Les produits de soins cutanés 3MMC CavilonMC</p>

<p dir="ltr"><span class="MMM--largeMessage-txt" dir="ltr">Ostomy and Skin Care</span></p>


/*

