@import '../utils/utils.less';

/*// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px 
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";*/

.navbar-inverse {
    position: fixed;
    width: 100%;
    height: 75px;
	margin-bottom: 0;
    background-color: #fff;
	border-color: #fff;
    z-index: 200;
    height: 75px;
    
    @media @mq-md-min {
        height: 130px;
    }
    
	.container {
		.navbar-header {
			margin-left: -16px;
			
			.navbar-toggle {
				margin-right: 5px;
				margin-top: 20px;				
				width: 60px;
				height: 50px;
                
                @media @mq-xs-min {
                    margin-right: 25px;
                }
                
				#navbar-hamburger {
					padding-top: 2px;
                    
					.icon-bar {
						margin: 0 auto;
						margin-bottom: 5px;						
						background-color: #5b3f38;
					}
				}
				
				#navbar-close {
					color: #5b3f38;
				}
				
				&:hover {
                    background-color: #5b3f38;
                    -webkit-transition: background-color 0.5s ease-out;
                    -moz-transition: background-color 0.5s ease-out;
                    -o-transition: background-color 0.5s ease-out;
                    transition: background-color 0.5s ease-out;
                }
                
                &:focus {
                    background-color: #bfaea4;
                }
                
                &:hover #navbar-hamburger .icon-bar {
                    background-color: #fff;
                    -webkit-transition: background-color 0.5s ease-out;
                    -moz-transition: background-color 0.5s ease-out;
                    -o-transition: background-color 0.5s ease-out;
                    transition: background-color 0.5s ease-out;
                }
                
                &:focus #navbar-hamburger .icon-bar {
                    //background-color: #5b3f38;
                }
                
                &:hover #navbar-close {
                    color: #fff;
                    -webkit-transition: color 0.5s ease-out;
                    -moz-transition: color 0.5s ease-out;
                    -o-transition: color 0.5s ease-out;
                    transition: color 0.5s ease-out;
                }
			}
			
            .logo {
				width: 200px;
                margin-top: 30px;
                margin-left: 5%;
				
				@media @mq-xs-min {
					width: 320px;
					margin-left: 30px;
					margin-top: 20px;
				}
                
                @media @mq-md-min {
                    width: 320px;
                }
                
                @media @mq-lg-min {
                    width: 400px;
                }
			}
            
            .logo-right {
                display: none;
                position: absolute;
                width: -52px;
                right: 15px;
                top: 15px;
                z-index: 2;
                
                img {
                    width: 150px;
                    transition: width .3s ease-out;
                }
                
                img.compact {
                    width: 90px;
                    transition: width .3s ease-in;
                }
                
                @media @mq-md-min {
                    display: block;    
                }
            }
			
			.side-collapse {
				position: fixed;
				top: 75px;
				bottom: 0;
				right: 0;
				width: 100%;
				overflow-x: hidden;
				transition: none;
				background-color: #bfaea4;
				z-index: 1;
				
				@media @mq-md-min {
					top: 75px;
					left: 10%;
					margin-right: auto;
					margin-left: auto;
					background-color: transparent;
				}
                
				.navbar-nav {
					//position: absolute;
					//width: 100%;	
                    margin-top: 50px;
                    
                    @media @mq-md-min {
                        margin-top: 20px;
                    }
                    
					a {
						margin-left: 5%;
                        margin-right: 5%;
                        padding: 20px;
						color: @white;
                        //background-color: #7e7e7e;
                        font-size: 25px;
                        border-bottom-style: solid;
                        border-bottom-width: 1px;
                        border-bottom-color: #fff;
                        
                        
                        &:hover, &:focus {
                            background-color: transparent;
                            color: #5b3f38;
                            border-bottom-color: #5b3f38;
                        }
                        
						@media @mq-md-min {
							margin-left: 15px;
							margin-right: 0;
                            padding-top: 0;
                            padding-bottom: 0;
							color: #593d36;
                            background-color: #fff;
                            border-bottom-style: none;
                            font-size: 20px;
                            
							&:hover, &:focus {                                
								color: #bfaea4;
                                background-color: #fff; 
							}
						}
					}
                    
                    .dropdown-menu {      
                        @media @mq-md-min {
                            margin-top: 13px;    
                        }
                        
                        
                        a {
                            //background-color: #bfaea4;
                            margin-left: 60px;
                            color: #7e7e7e;
                            border-bottom-color: #7e7e7e;
                            
                            &:hover, &:focus {      
                                color: #5b3f38;
                                border-bottom-color: #5b3f38;
                            }
                            
                            @media @mq-md-min {
                                margin-left: 5px;
                                background-color: #fff;
                                font-size: 18px;
                                 
                                &:hover, &:focus {      
                                    background-color: #fff;   
                                }     
                            }
                        }
                    }
                    
                    .dropdown-menu > .active > a {
                        background-color: #7e7e7e;
                        
                        @media @mq-md-min {
                            background-color: #fff;
                        }
                    }
                    
                    .open > a {
                        //background-color: #fff;
                    }
				}
			}
			
			.side-collapse.in {
				width: 0;

				@media @mq-md-min {
					width: 100%;
                    height: 152px;
				}
			}
            
            .side-collapse.compact-navbar {                
                transition: top .4s;
                top: 25px;
                left: 50%;
                	
            }

			.side-collapse.activated {
				transition: width .4s;	
			}
		}		
	}
}

.navbar-inverse.compact {
    height: 80px;
    transition: height .4s;	
}