.navbar-inverse {
	background-color: #fff;
	border-color: #fff; 
	
	.container {		
		.navbar-header {			
			.logo {
				width: 380px;					
			}
			.navbar-collapse {
				margin-top: 50px;
				
				.navbar-nav {
					margin-top: 30px;
					
					.menu-item {
						a {							
							&:hover {
								color: blue;
							}
						}
					}
				}
			}
		}		
	}	
}