.navbar-inverse {
	background-color: #fff;
	border-color: #fff; 
	
	.navbar-toggle {
		border-color: #fff;		
		
		.icon-bar {
			background-color: #000;						
		}
		
		&:hover {
			.icon-bar {
				background-color: #fff;							
			}				
		}
	}
	
	.navbar-collapse {
		background-color: #467879;
	}
}