@import '../utils/utils.less';

/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/ 

.product {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    
	.product-image-container {
		padding: 10px;
		border-style: solid;
		border-color: #f3f2f1;
		border-width: 1px;
		
        img {            
            width: 95%;           
        }
	}
	
	.product-copy-container {
        height: 235px;
		background-color: #f3f2f1;
		padding: 20px;
		
		.product-name-container {						
			font-size: 18px;
            font-weight: bold;
			color: #593d36;		
		}

		.product-price-container {
            margin-top: 10px;
            margin-bottom: 10px;
			font-size: 18px;
			color: #593d36;
		}

		.product-description {
			font-size: 15px;
			color: #593d36;
			
			p {
				font-size: 15px;
				color: #593d36;
			}
		}	
	}	
} 