.page-footer {
  padding-top: 50px;
  background-color: #7e7e7e;
}
.page-footer .navbar {
  margin-bottom: 0;
  text-align: center;
}
.page-footer .navbar .footer-nav-container {
  padding-top: 10px;
  padding-bottom: 100px;
}
.page-footer .navbar .footer-nav-container .footer-column-header {
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
}
.page-footer .navbar .footer-nav-container .footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.page-footer .navbar .footer-nav-container .footer-menu li a {
  color: #c0b0a6;
}
.page-footer .navbar .footer-nav-container .footer-menu li a:hover,
.page-footer .navbar .footer-nav-container .footer-menu li a:focus {
  color: #fff;
}
.page-footer .navbar .footer-products-container {
  padding-top: 10px;
  padding-bottom: 30px;
}
.page-footer .navbar .footer-products-container .footer-column-header {
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
}
.page-footer .navbar .footer-products-container .footer-product-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.page-footer .navbar .footer-products-container .footer-product-menu li a {
  color: #c0b0a6;
}
.page-footer .navbar .footer-products-container .footer-product-menu li a:hover,
.page-footer .navbar .footer-products-container .footer-product-menu li a:focus {
  color: #fff;
}
.page-footer .navbar .footer-sm-link-container {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;
  font-size: 1.2em;
}
.page-footer .navbar .footer-sm-link-container .footer-column-header {
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
}
.page-footer .navbar .footer-sm-link-container a {
  color: #c0b0a6;
}
.page-footer .navbar .footer-sm-link-container a:hover,
.page-footer .navbar .footer-sm-link-container a:focus {
  color: #fff;
}
.page-footer .footer-copyrite-section {
  height: 50px;
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
  background-color: #fff;
  border-color: #fff;
  font-size: 13px;
}
