/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/
.wtb-section-container {
  margin-top: 30px;
  padding-bottom: 30px;
}
.wtb-section-container .wtb-copy-container {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
}
.wtb-section-container .wtb-copy-container a .wtb-heading {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #fff;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
}
.wtb-section-container .wtb-copy-container a:hover .wtb-heading {
  color: #000;
}
.wtb-section-container .wtb-copy-container .wtb-copy p {
  color: #fff;
  font-size: 18px;
}
.wtb-section-container .wtb-image-container {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 480px) {
  .wtb-section-container .wtb-image-container {
    width: auto;
    margin-top: 0;
  }
}
.wtb-section-container .wtb-image-container:hover .wtb-heading {
  color: #000;
}
.wtb-section-container .wtb-image-container img {
  width: 125px;
}
