/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/
.product-feature-container {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .product-feature-container {
    margin-top: 100px;
  }
}
.product-feature-container .product-feature-content .product-feature-header {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  color: #5f443e;
}
.product-feature-container .product-feature-content .header-underline {
  height: 3px;
  width: 145px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #5f443e;
}
.product-feature-container .product-feature-content .product-feature {
  display: inline-block;
  width: 100%;
  height: 350px;
  padding-top: 55px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.product-feature-container .product-feature-content .product-feature:nth-child(even) {
  background-color: rgba(191, 174, 164, 0.05);
}
@media screen and (min-width: 768px) {
  .product-feature-container .product-feature-content .product-feature {
    max-width: 485px;
  }
}
.product-feature-container .product-feature-content .product-feature .feature-image-container {
  float: left;
  padding-left: 20px;
}
.product-feature-container .product-feature-content .product-feature .feature-image-container img {
  width: 200px;
}
.product-feature-container .product-feature-content .product-feature .feature-text-container {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  font-size: 23px;
  color: #7e7e7e;
}
@media screen and (min-width: 480px) {
  .product-feature-container .product-feature-content .product-feature .feature-text-container {
    width: 130px;
    text-align: right;
    padding-top: 50px;
  }
}
.product-feature-container .product-feature-content .product-feature .feature-text-underline {
  display: none;
  position: relative;
  top: 95px;
  left: 150px;
  width: 200px;
  height: 1px;
  background: linear-gradient(90deg, #bfaea4 50%, #7e7e7e 50%);
}
@media screen and (min-width: 480px) {
  .product-feature-container .product-feature-content .product-feature .feature-text-underline {
    display: block;
  }
}
.product-feature-container .product-feature-content .product-feature .view-product-link {
  clear: both;
  float: left;
  padding-left: 20px;
  font-size: 14px;
}
@media screen and (min-width: 480px) {
  .product-feature-container .product-feature-content .product-feature .view-product-link {
    clear: none;
    position: relative;
    top: 110px;
    left: -85px;
    padding-left: 0;
  }
}
.product-feature-container .product-feature-content .product-feature .view-product-link span {
  font-size: 13px;
  padding-top: 3px;
}
.product-feature-container .product-feature-content .product-feature .overlay {
  position: relative;
  display: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: -55px;
  width: 100%;
  height: 350px;
  border-style: none;
  margin-left: 0;
  border-left: 0;
}
@media screen and (min-width: 768px) {
  .product-feature-container .product-feature-content .product-feature .overlay {
    max-width: 485px;
  }
}
.product-feature-container .product-feature-content .product-feature:hover .overlay {
  display: block;
  -webkit-box-shadow: 5px 5px 40px 0px rgba(189, 185, 189, 0.66);
  -moz-box-shadow: 5px 5px 40px 0px rgba(189, 185, 189, 0.66);
  box-shadow: 5px 5px 40px 0px rgba(189, 185, 189, 0.66);
}
.product-feature-container .product-feature-content .product-feature:hover .feature-text-container {
  color: #000;
}
