/*
// @screen-xs-min = 420px
@mq-xs-min: ~"screen and (min-width: @{screen-xs-min})";

// @screen-sm-min = 768px
@mq-sm-min: ~"screen and (min-width: @{screen-sm-min})";

// @screen-md-min = 992px
@mq-md-min: ~"screen and (min-width: @{screen-md-min})";

// @screen-lg-min = 1200px
@mq-lg-min: ~"screen and (min-width: @{screen-lg-min})";

// @screen-xl-min = 1400px
@mq-xl-min: ~"screen and (min-width: @{screen-xl-min})";

// @screen-xxl-min = 1600px
@mq-xxl-min: ~"screen and (min-width: @{screen-xxl-min})";

// @screen-xxl-min = 1800px
@mq-xxxl-min: ~"screen and (min-width: @{screen-xxxl-min})";
*/
.product-feature-container {
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .product-feature-container {
    margin-top: 100px;
  }
}
.product-feature-container .product-feature-content .product-feature-header {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #5f443e;
}
.product-feature-container .product-feature-content .product-feature {
  width: 100%;
  height: 400px;
  max-width: 500px;
  background-color: rgba(191, 174, 164, 0.17);
  padding-top: 70px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.product-feature-container .product-feature-content .product-feature .feature-image-container {
  float: left;
}
.product-feature-container .product-feature-content .product-feature .feature-image-container img {
  width: 200px;
}
.product-feature-container .product-feature-content .product-feature .feature-text-container {
  float: left;
  padding-top: 50px;
  padding-left: 20px;
  font-size: 23px;
}
