@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-Regular_0.ttf");
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}

body {
	margin      : 0px;
	padding     : 0px;
	font-family : "ubuntu", 'Ubuntu-Regular_0', Arial, Helvetica, sans-serif;
	font-size: 15px !important;
}

ul.bxslider {
  margin: 0;
  padding: 0;
}

p{
	font-size: 14px;
}

#logo{
	width:316px;
	height:42px;
	background-image:url('../images/logo-sm.png');
	background-repeat:no-repeat;
	margin:0 auto;
	float: none;
}

#navigation{
	  padding-top: 14px;
	  width: 238px;
	  margin: 0 auto;
	  float: none;

}

#main-header{
	width: 100%;
	height: 73px;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 30px;
}


.home-btn{
	width:58px;
	height:59px;
	margin-bottom:5px;
	cursor:pointer;
	background-image:url("../images/home.png");	
	float: left;
	z-index:10000000;
}

.shop-btn{
	width:58px;
	height:59px;
	margin-bottom:5px;
	cursor:pointer;
	background-image:url("../images/shop.png");	
	float: left;
}

.about-btn{
	width:58px;
	height:59px;
	margin-bottom:5px;
	cursor:pointer;
	background-image:url("../images/about.png");	
	float: left;
}

.contact-btn{
	width:58px;
	height:59px;
	margin-bottom:5px;
	cursor:pointer;
	background-image:url("../images/contact.png");	
	float: left;
}

.cart-btn{
	margin-top:0px;
	margin-left: 66px;
}

#sliderContainer{
	margin: 0 auto;
  	max-width:97%;
  	margin-top: 70px;
}

#tagLine{
	text-align:center;
	padding-top:20px;
	font-size:20px
}

#welcome-header{
	  float: none;
	  padding-bottom: 20px;
	  margin-left: 0;
	  width: 100%;
	  margin: 0 auto;
	  clear: both;
	  text-align: center;
	  font-size:13px;
	  padding-top: 47px;
}

#product-category-grid{
	clear:both;
	width:100%;
	margin-left:0px;
}

#inventoryBlock{
	width:100%;
}

#inventory{
	clear: both;
	color:#593d36;
	width:100%;
	/*padding-left:115px;*/
	float:left;	
}

.inventory-item{
	float: left;
	display: none;
}

#inventory-item-mobile{	
	display: block;
}

.inventory-item .image-container{
	width:150px;
	height:169px;
	background-color: white;
	/*border-color: #D8D6D6;
	border-width: 1px;
	border-style: solid;*/
	margin-right:10px;
	margin-top:10px;
	float:left;	
}

.store-category-item-list{
	width:80%;
	height:608px;
	background-color:rgba(255,255,255,0.6);
	margin-left:140px;
	border-style:solid;
	border-width:2px;
	border-color:#7e7e7e;
	border-radius:6px;
	-webkit-box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.17);
	-moz-box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.17);
	box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.17);
	display:none;
}

.item-container{
	float:left;
	margin-bottom:17px;
}

#item-tag{
	font-size:20px;
	float:left;
	padding-bottom: 20px;
	padding-left: 10px;
}

.item-container .item-display{
	width:200px;
	height:225px;
	/*border-style:solid;
	border-width:1px;
	border-color:#D8D6D6;*/

}

.item-container .item{
	width:200px;
	height:225px;
	float:left;
	margin-right: 16px;
  	margin-top: 10px;
	margin-bottom: 67px;
	margin-left: 40px;	
}

#item-title{
	margin-left:20px;
	color:#593d36;
	font-size:20px;
	font-weight:bold;
}

#item-price{
	margin-left:20px;
	color:#7e7e7e;
	font-size:20px;
}

#products{
	width:100%;
	max-width:925px;
	float:left;
	padding-left:0px;
}

.liteboxWrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(126,126,126,0.8);
	top:0;
	left: 0;
}

#litebox-container{
	margin-top:6px;
	margin-left:20px;
	margin-right:20px;
	border-top-style:dashed;
	border-bottom-style:dashed;
	border-color:#593d36;
	border-width:1px;
	padding-bottom: 10px;	
}

.litebox-content-container{
	width: 98%;
	/*height: 52%;*/
	position: fixed;
	/*margin: 0 auto;*/
	left: 1%;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 14px;
}

.ui-overlay-a{
  background-color: #7E7E7E !important;
}

.ui-dialog-contain{
	background-color: #fff !important;	
}



.litebox-image-container{
	width:150px;
	height:170px;
	/*margin:0 auto;*/
	float: left;
}

#litebox-cartbtn{
	padding-top:10px;
	/*padding-bottom:25px;*/
}

.litebox-item-detail{
	margin-left:20px;
	margin-right:20px;
	clear:both;
	float:left;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#about-text-container{
  	margin-left: 3%;
	font-size: 16px;
	float: left;
	width: 95%;
	padding-top: 37px;
}

#about-picture-container{
	float: left;
	padding-top:50px;
	padding-left:2px;
	max-width:440px;
	width:100%;
}

#contact-info-container{
	margin-left:2%;
	font-size:18px;
	float:left;
	width:100%;
	padding-top: 37px;
}

#form-container{
	float:left;
	padding-top:3px;
	padding-left:2px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:17px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	margin-bottom: 28px;
	width: 265px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}